html {
  background-image: radial-gradient(#ffc107 2px, #ffffff 2px);
  background-size: 20px 20px;
}

body {
  text-align:  center;
  background-color: #ffffff; 
  margin: 20px 120px;
}

h1 {
  color: teal;
}

thead {
  color: teal;
}
tbody {
  color: #250d00
}
table {
  margin: 3px auto;
}

section {
  max-width: 300px;
  margin: 0 auto;
}
a.btn_06 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  background: #ffc107;
  border: 1px solid #ffc107;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0 45px 0 25px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
  transition-duration: 0.3s;
}
a.btn_06:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;
}
a.btn_06:hover {
  background: #fff;
  color: #ffc107;
}
a.btn_06:hover:before {
  border-top: 2px solid #ffc107;
  border-right: 2px solid #ffc107;
}

a.a {
	color: #250d00;
  position: relative;
  text-decoration: none;
}

a.a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #250d00;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a.a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}